<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 4</b></font>

Привет. Далее не буду мучить, с учетом того, что на первой итерации ты получил правильный ответ. Ты поменял структуру таблицы, поэтому предыдущий вариант обращения к таблице не работает. Тебе нужен метод loc. Показал пример в соответствующем блоке. В следующем проекте будет большая практика с работой над сводными таблицами. Надеюсь, оставленные тут советы тебе будут полезны. Поздравляю со сданным проектом. Надеюсь, он был интересен и познавателен. Успехов в дальнейшем пути :)

</div>

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера 3</b></font>

Привет. Оформление комментариев по работе сохраняется. Только обозначим, что это третья итерация. Оставил более подробный комментарий по свводным таблицам. Если есть непонимание какого-либо пункта, то задавай вопросы. Так будет проще разобраться. Буду ждать твой проект :)

</div>

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Привет еще раз. Спасибо, что доделал работу. Оформление комментариев по работе сохраняется. Только обозначим, что это вторая итерация. 

</div>

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера</b></font>

Привет, Дмитрий! Спасибо, что прислал задание:) Меня зовут Слепцов Артем и я буду проверять твой проект) Ты проделал большую работу над проектом. Будет здорово, если ты, надеюсь, не против, если я буду на ты, будешь отвечать на комментарии и участвовать в диалоге. Если обращение на ты неприемлемо, то прошу сообщить. 

Мои комментарии обозначены пометкой **Комментарий ревьюера**. Далее в файле ты сможешь найти их в похожих ячейках:
    
<div class="alert alert-success">Успех: Если фон комментария зелёный - всё сделано правильно. Рекомендации укажу таким же цветом;</div>
        
<div class="alert alert-warning">Совет: Оранжевый - некритичные замечания;</div>
        
<div class="alert alert-danger">Ошибка: Красный - нужно переделать. </div>
        
Не удаляй эти комментарии и постарайся учесть их в ходе выполнения данного проекта. Свои же комментарии ты можешь обозначать любым заметным способом. 

</div>

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

<div class="alert alert-warning">
<font size="5"><b>Комментарий ревьюера</b></font>

Совет: Я заметил, что ячейки в твоей тетрадке начинаются не с 1. Перед отправкой работы рекомендую перезапускать ноутбук, чтобы убедиться, что все ячейки выполняются корректно.

</div>

In [1]:
import pandas as pd
data = pd.read_csv('/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'авто' in row:
            return "операции с автомобилем"
        elif "жил" in row or 'недвиж' in row:
            return "операции с недвижимостью"
        elif "свад" in row:
            return "проведение свадьбы"
        elif "образов" in row:
            return "получение образования"
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
display(data['purpose_category'])

0        операции с недвижимостью
1          операции с автомобилем
2        операции с недвижимостью
3           получение образования
4              проведение свадьбы
                   ...
21520    операции с недвижимостью
21521      операции с автомобилем
21522    операции с недвижимостью
21523      операции с автомобилем
21524      операции с автомобилем
Name: purpose_category, Length: 21331, dtype: object

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
children_grouped = data.groupby('children', as_index = False).agg({'debt':['count', 'sum']})
children_grouped['conversion_children'] = children_grouped['debt']['sum'] / children_grouped ['debt']['count']
children_grouped = children_grouped.sort_values( by ='conversion_children',ascending= False)
display(children_grouped)
# Ваш код будет здесь. Вы можете создавать новые ячейки.

  children   debt       conversion_children
            count   sum
4        4     41     4            0.097561
2        2   2052   194            0.094542
1        1   4808   444            0.092346
3        3    330    27            0.081818
0        0  14091  1063            0.075438
5        5      9     0            0.000000

<div class="alert alert-warning">
<font size="5"><b>Комментарий ревьюера</b></font>

Совет: Таблицы на печать выводи с помощью метода display. print переводит данные в строку, а нам этого не надо. 

</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: 👍 

</div>

**Вывод:** Из этих данных видно, что возврат кредита связан с количеством детей. Больше всего просрочек у людей с 1, 2,3,4 детьми, нет просрочек у тех кто имееет 5 детей, те у кого вообще нет детей - просрочек меньше.

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>

Успех: Вывод не противоречит полученному результату. 

</div>

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
family_grouped = data.groupby('family_status').agg({'debt':['count','sum']})
family_gr_quality = family_grouped['debt']['sum'] / family_grouped['debt']['count']
print(family_gr_quality)# Ваш код будет здесь. Вы можете создавать новые ячейки.

family_status
Не женат / не замужем    0.097639
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.093130
женат / замужем          0.075606
dtype: float64

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>
  
Совет: В agg вполне можно добавить и mean для нахождения доли должников в каждой из групп. 

</div>

**Вывод:** Люди которые на данный момент находятся одни имеют меньше просрочек по кредиту, это можно заметить исходя из данных в графах - в разводе, вдовец/вдова. 
Чуть больше доля просрочек у тех кто женат/ замужем, но тоже неплохой результат 
Большие доли просрочек приходятся на людей в гражданском браке и кто не женат / не замужем

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>

Успех: Подумай над причинами получения такого результата. 

</div>

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
total_grouped=data.groupby('total_income_category').agg({'debt':['sum','count']})
total_quality=total_grouped['debt']['sum']/total_grouped['debt']['count']
total_grouped['debt']
display(total_quality)

total_income_category
A    0.080000
B    0.070602
C    0.084982
D    0.060172
E    0.090909
dtype: float64

**Вывод:** Люди с доходом от 30 до 50 т. имеют наименьше просрочек, доля их просрочек составляет 0.6, чуть выше показатель у людей с доходом от 200 до 1000 т.
Хуже у людей с просрочкой 0.8 их доход равен от 1000 т. и категория людей с 0.84 чей дохой равен от 50 до 200 т.
И самая плохая ситуация у людей с доходом от 0 до 30 т. их просрочка составляет 0.9

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: Анализировать нужно категоризованный параметр total_income_category. Подсчитай долю должников в каждой из групп. 

</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: Теперь все верно.  

</div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [31]:
# Код ревьюера
data_pivot.loc['операции с автомобилем', 'sum']

debt    400
Name: операции с автомобилем, dtype: int64

In [25]:
#Почему-то не видить 'операции с автомобилем', не пойму с чем связано 
data_pivot = data.pivot_table(index=['purpose_category'], values='debt',aggfunc=['sum', 'count'])

in1 = data_pivot['операции с автомобилем'][1] / data_pivot['операции с автомобилем'][0]
in2 = data_pivot['операции с недвижимостью'][1] / data_pivot['операции с недвижимостью'][0]
in3 = data_pivot['получение образования'][1] / data_pivot['получение образования'][0]
in4 = data_pivot['проведение свадьбы'][1] / data_pivot['проведение свадьбы'][0]

print("{0:.2f}% операции с автомобилем".format(in1*100))
print("{0:.2f}% операции с недвижимостью".format(in2*100))
print("{0:.2f}% получение образования".format(in3*100))
print("{0:.2f}% проведение свадьбы".format(in4*100))

KeyError: 'операции с автомобилем'

In [32]:
data_pivot

                          sum  count
                         debt   debt
purpose_category
операции с автомобилем    400   4279
операции с недвижимостью  780  10751
получение образования     369   3988
проведение свадьбы        183   2313

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера 3</b></font>

Ошибка: Ты находишь сумму возрастов должников и недолжников. Отношения данных показателей не являются долей долга в группе. Ниже привожу таблицу с числом должников и общим числом пользователей в каждой из групп. Рассчитай долю долга в каждой группе на ее основании. 

</div>

In [33]:
# Код ревьюера
data.pivot_table(index=['purpose_category'], values='debt',aggfunc=['sum', 'count'])

                          sum  count
                         debt   debt
purpose_category
операции с автомобилем    400   4279
операции с недвижимостью  780  10751
получение образования     369   3988
проведение свадьбы        183   2313

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: Аналогично, параметр цели мы категоризовали ранее. Согласись, доля должников не должна зависеть от того, как клиент сформулировал цель "покупка авто" или "авто". Анализировать нужно параметр purpose_category.
</div>

**Вывод:** Исходя из выводов больше всего просрочек у людей которые берут кредит на образование и автомобиль, скорее всего из-за своих переоценных возможностей.
меньше всего просрочек у людей которые берут кредит на жилье(ипотека), а так же на проведение свадьбы.

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: На данном шаге рекомендуется использовать метод сводных таблиц (pivot_table()). Однако он является аналогом метода groupby(). Изучи метод сводных таблиц и примени его хотя бы в одном пункте анализа.

</div>

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Ошибка: Результат не совсем правильный. Ты делишь число должников на число недолжников. Это не доля должников в группе. Для расчета доли должников нужно число должников делить на общее число клиентов в группе, т.е. на сумму должников и недолжников. Таблицу выше лучше адаптировать, поменять местами строки и столбцы. Так работать с ней станет несколько проще. 

</div>

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Человеческий фактор, сбой программы или оборудования, некорректное считывание данных, пользователь может сам не внести какие-либо данные.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медиана обладает более крепкой характеристикой, так как на нее не влияют случайные выбросы. Если данные в большом количестве и распределины корректно, то соотсвественно медиана будет равняться среднему значению.

 <div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: Совсем не понял предложение выше. Что такое медиана для среднего? Попробуй переформулировать фразу выше. Почему использование медианы в нашем случае - более выгодный способ по сравнению с обработкой пропусков средним?

</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: Да, все верно. 

</div>

### Шаг 4: общий вывод.

На основании вышеперечисленного можно сделать вывод, что меньше всего просрочек у людей которые имееют как можно больше детей так как на основании таблицы мы видим что те у кого нет детей  вообще(0,07) или их количество равняется 5(0,00) самые маленький коэффициент просрочек. Люди которые находятся одни, а это вдова/ вдовец(0,66) или разведенные(0,7) их доля просрочек так же меньше по сравнению с людьми кто не женат или не замужем(0,97) или находится в гражданском браке(0,93).Так же доля просрочек меньше у людей кто берет кредит на совершение операций с недвижимостью(7,8%) и проведение свадеб(8,5%). Доля просрочек так же меньше у людей  с доходностью от 30 до 50 т. и с доходностью от 200 до 1000 т.
Был проведен анализ по фактором которые влият на возврат средств, а именно количество детей, семейное положение, уровень дохода, цель кредита.

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>

Ошибка: Финальный вывод и есть главный результат твоей работы. Стоит писать его подробно по результатам проведенной работы. В нем можно приводить полученные в ходе работы значения. Также можно расписать все, что было сделано в работе.

</div>

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Успех: Выводы сделаны. Приведены ответы на главные вопросы проекта. В выводах можно приводить полученные ранее значения, правильно. Здорово, что по каждому пункту работы приведен вывод.     

</div>

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера</b></font>

Ты проделал большую работу, молодец! Важно теперь исправить отмеченные помарки. При необходиммости можешь задавать вопросы. Жду твою работу :)

</div>

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера 2</b></font>

Ты здорово поработал. Осталось лишь разобраться со своднымми таблицами, и проект будет готов. Буду ждать твой проект :)

</div>